* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  color: #9ff56b;
  font-size: 2rem;
  margin: 1rem;
  font-family: "Exo 2", sans-serif;
}

.name-part {
  color: #6ab4e9;
}
